body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #14212b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

@media all and (min-width: 550px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14212b;
    height: 100vh;
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 620px;
    width: 292px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  #root {
    width: 100%;
    height: 100%;
  }
}

@media all and (max-width: 550px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14212b;
    height: 100vh;
    width: 100%;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }
  #root {
    width: 100%;
    height: 100%;
  }
}
